.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0, 0, 4px, 4px rgba(40, 40, 40, 0.8);
    width: 50%;
}

.modalBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(200, 200, 200, 0.4);
}

.modalContent {
    position: absolute;
    background-color: white;

}
