.answerContainer {
    position: absolute;
    top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.answerDiv {
    width: 50%;
    padding: 5px 5px;
    margin: 1px 30px;
    background-color: #0722AA;
}
.navLink {
    text-decoration: none;
}
.heading {
    font-size: 2rem;
    color: #FEFDFF
}


.button {
    background-color: #2022AA;
    text-decoration: none;
    border: 0.5px solid white;
    color: #EEEEEE;
    font-size: 1.2rem;
    border-radius: 5px;
    margin: 5px 10px;
}
