.sessionLinks:hover {
    font-weight: bold;
    background-color: #FF1040;
    color: #FAFBFC;
}
.sessionLinks {
    text-decoration: none;
    font-size: 1.1 rem;
    padding: 5px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
