#i {
    width: 2rem;
    height: 2rem;
}
.button {
    border: none;
    background-color: #2022AA;
    color: #FEFEFE;
    font-size: 1.5rem;


}
.profileDrop {
    position: absolute;
    background-color: #2022AA;


}
.profileInfo {
    font-size: 1.5rem;
    color: #2022AA
}
